.descricao {
    background-color: white;
    height: 215px;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}